######################
## EPiServer Files
######################
*License.config
/EpiSandbox/bin
/EpiSandbox/obj
/EpiSandbox/App_Data
/EpiSandbox/EpiSandbox.csproj.user
/packages
/.vs
/EpiSandbox/Content/Scripts/typescripts.js.map
/EpiSandbox/Content/Scripts/typescripts.js
