######################
## EPiServer Files
######################
*License.config
/EpiSandbox/bin
/EpiSandbox/obj
/EpiSandbox/App_Data
/EpiSandbox/EpiSandbox.csproj.user
/packages
/.vs
/EpiSandbox/Content/Scripts/typescripts.js.map
/EpiSandbox/Content/Scripts/typescripts.js
/EpiSandbox.UnitTests/obj
/EpiSandbox.UnitTests/bin
/EpiSandbox.UnitTests/App_Data/EPiServerDB_b3637ddc.mdf
/EpiSandbox.UnitTests/modules/_protected
/EpiSandbox.UnitTests/App.config
/EpiSandbox/Content/Scripts/episandbox.js.map
/EpiSandbox/Content/Scripts/episandbox.js
