@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EpiSandbox.Models.Pages.NodePage

@{ Layout = "~/Views/Shared/_defaultLayout.cshtml"; }

<div>
    Node
</div>

@*<div>
      @Html.PropertyFor(m => m.MainBody)
    </div>*@