body {
    /*background-color: red;*/
}

div.mainBody {
    clear: both;
    margin: 10px 20px 10px 20px;
}

div.lineBreak {
    clear: both;
}

div.navMenu {
    border: yellow dashed thin;
    clear: both;
}

    div.navMenu ol {
        /*border: green dashed thin*/
        /*font: bold;*/
        list-style-type: none;
        clear: both;
    }

    div.navMenu li {
        border: green dashed thin;
        /*font: bold;*/
        float: left;
        margin : 10px 20px 10px 20px;
    }

navMenu a {
    /*border: green dashed thin*/
    font: bold;
}