@model EpiSandbox.Models.LoginModel

<div class="container-fluid link-item">
    <div class="row">
        <div class="actionLink">@Model.Login</div>
        <div class="actionLink"><a href="#" onclick="logoff();">Logoff</a></div>
    </div>
</div>