@model EpiSandbox.Models.AuthenticationModel

<div class="container-fluid link-item">
    <div class="row">
        <div class="actionLink"><a href="#" data-toggle="modal" data-target="#signinModal">Sign in</a></div>
        <div class="actionLink"><a href="#" data-toggle="modal" data-target="#loginModal">Log in</a></div>
    </div>
</div>

@Html.AntiForgeryToken()

<!-- Modals -->
<div id="signinModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sign in</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 default-element">Login:</div>
                    <div class="col-md-4 default-element"><input id="tbSigninLogin" type="text" /></div>
                </div>
                <div class="row">
                    <div class="col-md-4 default-element">Email:</div>
                    <div class="col-md-4 default-element"><input id="tbSigninEmail" type="text" /></div>
                </div>
                <div class="row">
                    <div class="col-md-4 default-element">Password:</div>
                    <div class="col-md-4 default-element"><input id="tbSigninPassword" type="password" /></div>
                </div>
                <div class="row">
                    <div class="col-md-4 default-element">Confirm password:</div>
                    <div class="col-md-4 default-element"><input id="tbSigninConfirmPassword" type="password" /></div>
                </div>
                <div class="row">
                    <div id="signinErrorMessage" class="col-md-4 default-element error-message">An error occured</div>
                </div>
                <div class="row">
                    <div class="col-md-4 default-element"></div>
                    <div class="col-md-4 default-element"><input id="signinButton" type="button" value="Sign in" onclick="trySignIn(); return false;" /></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 default-element">Login:</div>
                    <div class="col-md-4 default-element"><input id="tbLoginLogin" type="text" /></div>
                </div>
                <div class="row">
                    <div class="col-md-4 default-element">Password:</div>
                    <div class="col-md-4 default-element"><input id="tbLoginPassword" type="password" /></div>
                </div>
                <div class="row">
                    <div id="loginErrorMessage" class="col-md-4 default-element error-message">An error occured</div>
                </div>
                <div class="row">
                    <div class="col-md-4 default-element"></div>
                    <div class="col-md-4 default-element"><input id="loginButton" type="button" value="Log in" onclick="tryLogin(); return false;" /></div>
                </div>
            </div>
        </div>
    </div>
</div>