@using System.Web.Optimization; 

<!DOCTYPE html>
<html>
<head>
    <title>title</title>
    @RenderSection("head", required: false)

    <link rel="stylesheet" href="~/Content/Css/Theme/Cogip/cogip.css?rnd=@DateTime.Now.Ticks">

    @Styles.Render("~/css")
    @Scripts.Render("~/scripts")

    @* TODO : remove *@
    @*<script type="text/javascript" src="~/Content/Scripts/episandbox.js?rnd=@DateTime.Now.Ticks"></script>*@
    <script type="text/javascript" src="~/Content/Scripts/typescripts.js?rnd=@DateTime.Now.Ticks"></script>
</head>
<body>
    @{ Html.RenderAction("Index", "NavBar"); }

    <div id="commonHeader" class="common-header">
    </div>

    <div class="wrapper">
        @RenderBody()
    </div>
    
    <footer>
        <div class="container">
            <p class="text-right">Copyright &copy; Cogip 2000</p>
        </div>
    </footer>
</body>
</html>
