<!DOCTYPE html>
<html>
<head>
    <title>title</title>
    @RenderSection("head", required: false)
</head>
<body>
    <div>
        @{ Html.RenderAction("Index", "NavMenu"); }
    </div>

    @RenderBody()
</body>
</html>
