@model EpiSandbox.Models.View.NavMenu

<div class="nav-menu">
    <div class="container">
        <div class="row nav-menu-row">
            <div class="col-sm">
                <a href="/"><img src="~/Content/Theme/Cogip/logo.png" /></a>
            </div>

            @foreach (var item in Model.HeadItems)
            {
                <div class="col-sm link-item"><a href="@item.Link">@item.Label</a></div>
            }
        </div>
        @if(Model.SubItems.Any()) {
            <div class="row nav-menu-row">
                @foreach (var item in Model.SubItems)
                {
                    <div class="col-sm link-item"><a href="@item.Link">@item.Label</a></div>
                }
            </div>
        }

    </div>
</div>