body {
}

/*.page {
    display: table;
    width: 100%;
}

.page-content {
    display: table-cell;
}*/

.nav-menu {
    background-color: darkgray;
}

.nav-menu-row {
    height: 50px;
}

.link-item {
    margin-top: auto;
    margin-bottom: auto;
}